.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
}
.logo {
  width: 50px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 12px;
}
